/*=============== Google Fonts ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

/*=============== Css Variabel ===============*/
:root {
  --header-height: 3.5rem;

  /*================colors==============*/
  --primary-color: #4a4a4a;
  --primary-color-alt: #575757;
  --linear-gradient: linear-gradient(
    54 deg,
    rgba(45, 45, 45, 0.95) 34%
    rgba(45, 45, 45, 0.95)
    );
    --title-color: #4a4a4a;
    --text-color: #555;
    --text-color-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    --border-color: #f1f1f1;

    /*================font dan typograpy==============*/
    --roboto-font: 'Roboto', sans-serif;
    --mono-font: 'Roboto Mono', monospace;

    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;

    /*================Font weigght==============*/
    --medium:500;
    --semibold:600;
    --bold:700;
}

/*================Base==============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5em;
}

h1,
h2,
h3 {
  font-family: var(--mono-font);
  font-weight: var(--bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea,
input {
  background: none;
  border: none;
  outline: none;
}

/*================Reuscale css==============*/
.container {
  max-width: 1140px;
  margin: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.grid {
  display: grid;
}

/*================Home==============*/
.home {
  background: url(../img/home-bg.jpg);
  background-size: cover;
  background-position: 50%;
  padding-top: 5.5rem;
  position: relative;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  width: 100px;
  background: var(--linear-gradient);
}

.home__container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.home__img,
.home__data {
  z-index: 10;
}

.home__img {
  width: 290px;
  height: 380px;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125rem);
  box-shadow: 0 0 27px rgb(96 96 96 / 34%);
}

.home__name,
.home__work,
.home__list,
.home__social-link{
  color: #ffffff;
  font-family: var(--mono-font);
}

.home__name {
  font-size: var(--fs-h1);
  line-height: 1.14em;
  margin: 0.9em 0 0.23em;
}

.home__work {
  margin-bottom: 2.5em;
}

.home__list dt {
  float: left;
  font-weight: var(--bold);
}

.home__list dd {
  padding-left: 6.25em;
}

.home__list dd::not(:last-child) {
  margin-bottom: 0.94em;
}

